<footer>
<p>
  This portfolio site was built using code maintained by <a href="https://twitter.com/philhawksworth">Phil Hawksworth</a>. You can find the original repository on <a href="{{ pkg.repository.url }}">GitHub</a>.
</p>
</footer>
